<div class="bandeau">
  <div class="bandeau-link">
    <%= link_to output_path do %>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class=bandeau-title>
    <h3>Infos du colis</h3>
  </div>
</div>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
    <h4>Destinataire : <%= @parcel.receiver_full_name%></h4>
      <div id="qrcode">
        <%= raw @qr.as_html %>
      </div>
      <div id="form-code" style="margin-top:5px;">
        <form>
          <div class="form-group">
            <label for="code-parcel">Taper le code de sortie du colis</label>
            <input type="text" class="form-control" id="code-parcel" placeholder="ex:1234">
            <div class="error_message hidden" id="error-word">
              <p>Erreur. Veuillez rentrer à nouveau le code transmis par votre interlocuteur</p>
            </div>
            <div class="text-center" style="margin-top:5px;">
              <button type="submit" class="btn navbar-wagon-button" id="submit_code">Valider</button>
            </div>
          </div>
        </form>
      </div>
      <div id="validation-output" class="text-center hidden" style="margin-top:10px;">
        <%= link_to "OK", retrieve_owner_parcel_path(@parcel), method: :post, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>

<%= content_for (:after_js) do %>
  <script>
  $('#submit_code').click(function(){
    event.preventDefault();

    var code_try = $("#code-parcel").val();
    console.log("j'atteinds ce Js");

    if(code_try == "<%= @parcel.code %>")
    {
      $("#validation-output").removeClass("hidden");
      $("#form-code").addClass("hidden");
    } else {
      $("#error-word").removeClass("hidden")
                      .delay(2000)
                      .queue(function() {
                        $(this).addClass("hidden");
                        $(this).dequeue();
                      });
      return false;
    }
  });
  </script>
<% end %>
