<div class="container">
  <h1>Show des parcels</h1>
  <p>Parcel id = <%= @parcel.id %></p>
  <p>Parcel sender = <%= @parcel.sender_first_name%> <%= @parcel.sender_last_name%></p>
  <p>Parcel receiver = <%= @parcel.receiver_full_name%></p>
  <p><%= raw @qr.as_html%></p>
  <p>Le QR code correspond au code suivant: <strong><%= @parcel.code%></strong></p>
</div>

